/* 

palette

blu #3B536D
blu scuro #2C3E4F
verde #19BC9B

*/

.dark-blue {
    background-color: #2C3E4F;
}

.blue {
    background-color: #3B536D;
}

.main-green {
    background-color: #19BC9B;
}

.t-main-green {
    color: #19BC9B;
}

img {
    max-width: 200px;
}

h1 {
    font-size: 3rem;
}